<% if object.errors.any? %>
  <div id="error_explanation form-group">
    <div class="alert alert-danger">
      <%= sanitize t(".valid", error: pluralize(object.errors.count, t(".error"))) %>
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
