@import "easy-autocomplete/dist/easy-autocomplete";
@import "sb-admin-2.min";
@import "toastr/toastr";
@import "color";
#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  .form-control {
    color: $state-danger-text !important;
    border-color: $red !important;
  }
}

.required:after{
  content:" *";
  color: $red;
}

.btn-returned{
  color: $white;
  background-color: $return-bg;
  border-color: $return-bg;
}

.btn-delivered{
  color: $white;
  background-color: $delivered_bg;
  border-color: $delivered_bg;
}

.btn-rejected{
  color: $white;
  background-color: $rejected-bg;
  border-color: $rejected-bg;
}

.btn-confirmed{
  color: $white;
  background-color: $confirmed-bg;
  border-color: $confirmed-bg;
}
.btn-client_rejected{
  color: $white;
  background-color: $rejected-bg;
  border-color: $rejected-bg;
}

.edit_request{
  display: inline-block !important;
}

.badge-fresh{
  color: $white;
  background-color: $fresh-bg;
}

.badge-confirmed{
  color: $white;
  background-color: $confirmed-bg;
}

.badge-delivered{
  color: $white;
  background-color: $delivered-bg;
}

.badge-rejected{
  color: $white;
  background-color: $rejected-bg;
}

.badge-client_rejected{
  color: $white;
  background-color: $rejected-bg;
}
.badge-fresh_expired{
  color: $white;
  background-color: $rejected-bg;
}
.badge-returned{
  color: $white;
  background-color: $return-bg;
}

.badge-expired{
  color: $white;
  background-color: $expired-bg;
}

.badges {
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

// rating
.rating {
  display: flex;
  flex-direction: row-reverse;
}

.rating>input {
  display: none
}

.rating>label {
  position: relative;
  width: 2vw;
  font-size: 5vh;
  color: $rating;
  cursor: pointer
}

.rating>label::before {
  content: "\2605";
  position: absolute;
  opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
  opacity: 1 !important
}

.rating>input:checked~label:before {
  opacity: 1
}

.rating:hover>input:checked~label:before {
  opacity: 0.4
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 14px
  }

  p {
    font-size: 12px
  }
}

body {
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
