$red: red;
$white: white;
$state-danger-text: rgb(102, 0, 0);
$return-bg: #6c757d;
$delivered-bg: #138496;
$rejected-bg: #d39e00;
$confirmed-bg: #0069d9;
$fresh-bg: #28a745;
$expired-bg: #dc3545;
$rating: #FFD600;
